.container {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 3rem;
  /* font-family: var(--montserrat); */
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

.icon {
  font-size: 2rem;
  position: relative;
  top: -1px;
}

.tanOutline {
  border: 1px solid var(--darkTan);
  color: var(--tan);
}

.tanOutline:hover {
  background-color: var(--tan);
  color: var(--black);
}

.tan {
  border: 1px solid var(--tan);
  background-color: var(--tan);
  color: var(--black);
}

.tan:hover {
  background-color: transparent;
  color: var(--tan);
}

.brownOutline {
  border: 1px solid var(--darkTanii);
  background-color: var(--darkTanii);
  color: var(--green);
}

.brownOutline:hover {
  background-color: var(--brown);
  color: var(--tan);
}