.container {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.7rem 3rem;
  /* font-family: var(--montserrat); */
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

.tanOutline {
  border: 2px solid var(--darkTaniii);
  color: var(--tan);
}

.tanOutline:hover {
  background-color: var(--darkTaniii);
  color: var(--black);
}

.tan {
  border: 2px solid var(--darkTaniii);
  background-color: var(--darkTaniii);
  color: var(--tan);
}

.tan:hover {
  background-color: transparent;
  color: var(--tan);
}

.brownOutline {
  border: 1px solid var(--brown);
  background-color: var(--tan);
  color: var(--brown);
}

.brownOutline:hover {
  background-color: var(--brown);
  color: var(--tan);
}

.brown {
  border: 1px solid var(--brown);
  background-color: var(--brown);
  color: var(--tan);
}

.brown:hover {
  background-color: var(--tan);
  color: var(--brown);
}

.green {
  border: 1px solid var(--green);
  background-color: var(--green);
  color: var(--brown);
}

.green:hover {
  border: 1px solid var(--brown);
  background-color: var(--brown);
  color: var(--green);
}

.white {
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--brown);
}

.white:hover {
  border: 1px solid var(--olive);
  background-color: var(--olive);
  color: var(--tan);
}
