.parent {
  background-color: var(--floral-white);
}

.container {
  position: relative;
}

.imgOverlay {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(10, 7, 27, 0.6), rgba(10, 7, 27, 0.6));
}

.img {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 20rem 5rem;
  z-index: 3;
}

.heading {
  z-index: 3;
  color: var(--tan);
  text-align: center;
}

.span,
.spanii {
  z-index: 3;
  color: var(--tan);
  font-family: var(--CareFreeSemiBoldItalic);
  text-transform: lowercase;
  font-size: 10rem;
}

.spanii {
  margin-right: 2rem;
}

.copy {
  z-index: 3;
  text-align: center;
  color: var(--tan);
  width: 50%;
}

.btnContainer {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 1168px) {
  .span,
  .spanii {
    font-size: 8vw;
  }
}

@media screen and (max-width: 768px) {
  .parent {
    margin: 1rem;
  }

  .content {
    padding: 10rem 0rem;
  }

  .copy {
    width: 100%;
  }

  .span,
  .spanii {
    font-size: 7vw;
  }

  .spanii {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 7rem 0rem;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    width: 100%;
  }
}
