.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
}

.content,
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  font-family: var(--instrumentSans);
  font-size: 2.1rem;
  text-transform: none;
  font-weight: 300;
  letter-spacing: -.4px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  width: 40%;
  /* opacity: 0.5; */
}

.middle {
  width: 1px;
  height: 120px;
  background-color: var(--darkTaniii);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  color: var(--olive);
  font-size: 3rem;
}

.title {
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--brown);
  text-transform: uppercase;
}

@media screen and (max-width: 1268px) {
  .heading {
    width: 60%;
  }
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    width: 100%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    grid-gap: 1rem;
    margin-top: 3rem;
  }

  .middle {
    display: none;
  }

  .card {
    background-color: var(--darkTan);
    padding: 2rem;
    border-radius: 5px;
    width: 100%;
  }

  .icon {
    font-size: 2.5rem;
    color: var(--brown);
  }
}
